.tab-pane.profile-section#contact
  %h2 Contact Information
  %p
    Where can we send you Brotherhood Swag and other packages? This is NOT shared with other Brothers.
  %hr
  /= render 'after_register/contact',  f: f
