.tab-pane.profile-section#photos
  %h2
    Business Projects & Skills
  %p Your Brothers need to see your current AND past projects in order to be comfortable with bringing opportunities your way.
  /= render 'after_register/types_projects', f: f
  = f.fields_for :photos, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do |p|
    = p.input :image, label: 'Profile Photo', as: :file, input_html: { accept: "image/*"  }

= f.link_to_add '+ Add a Project', :photos, class: 'btn btn-grey new'