%h3 Your Conversations
%p= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary'
.row
  .col-sm-9
    - @conversations.each do |conversation|
      .row
        .col-sm-4= conversation.receiver.full_name
        .col-sm-6.text-left= conversation.messages.last.andand.body 
        .col-sm-2= link_to 'view',conversation
  / .col-sm-9
  /   - if @box == 'trash'
  /     %p= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete, |
  /         data: {confirm: 'Are you sure?'}                                                                 |
  /   %ul.list-group= render partial: 'conversations/conversation', collection: @conversations
  /   = will_paginate