.tab-pane.profile-section#passions
  %h2 Life Outside of Business
  %p
    Your Brothers want to know what you're into
    %em outside
    of business.
  = render 'after_register/passions', f: f
  = render 'after_register/family', f: f
  = render 'after_register/brother_info', f: f
