.tab-pane.profile-section#projects
  %h2
    Business Projects & Skills
  %p Your Brothers need to see your current AND past projects in order to be comfortable with bringing opportunities your way.
  = render 'after_register/types_projects', f: f

