- content_for :body_class, "onboarding onboarding-signup"

.container.content.sign-up
  .row
    .col-md-8.col-md-push-2
      .well
        .progress
          .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
            %span.sr-only 80% Complete

        %h2 Personal Passions & Interests
        %p
          Enter your personal passions, hobbies & interests below. Your Brothers want to know what you're into
          %em outside
          of business.
          = render layout: 'form' do |f|
            %p
              %strong Personal Passions & Interests

            %ul.pager
              %li.pull-left
                = f.submit "Previous", name: "back_button", class: 'btn btn-default back-button'
              %li.pull-right
                = f.submit "Continue", class: 'btn btn-default continue-button'

